@model TankMonitor.SiteDb.Tank

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editing </h2>

<h4>Tank for site @ViewData["SiteNumber"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TankId" />
            <div class="form-group">
                <label asp-for="TankNumber" class="control-label"></label>
                <input asp-for="TankNumber" class="form-control" />
                <span asp-validation-for="TankNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TankSize" class="control-label"></label>
                <input asp-for="TankSize" class="form-control" />
                <span asp-validation-for="TankSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TankProduct" class="control-label"></label>
                <input asp-for="TankProduct" class="form-control" />
                <span asp-validation-for="TankProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="SiteId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" siteId="@ViewData["SiteId"]" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewData["SiteId"]" asp-route-siteNumber="@ViewData["SiteNumber"]" >Back to List</a>
</div>

